.list-view {
    -fx-font:  11pt "Calibri light";
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-color: #BABABA;
    -fx-padding: 0;
}

.list-cell {
    -fx-background-color: #E3E6FF;
    -fx-text-fill: black;
}

.list-cell:odd {
    -fx-background-color: white;
    -fx-text-fill:black;
}

.list-cell:selected{
    -fx-background-color: #A3C4EF;
    -fx-text-fill: black;
    -fx-font:  13pt "Calibri";
    -fx-font-weight: bold;
}
